body {
    margin: 0;
    padding: 0;  
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-image: url('../../assets/map_world_dark_blue.jpeg');
    background-repeat: no-repeat;
    height: 95vh;
    background-size: cover;
}

