* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/map_world_dark_blue.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

.centralBox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 310px;
  height: 420px;
  border: 2px solid white;
  padding: 10px;
  background-color: rgba(1, 24, 47, 0.863);
  align-items: center;
  border-radius: 10px;


  animation-name: borderColorChange;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;

}

@keyframes borderColorChange {
  0% {
    border: 2px solid aqua;
  }
  100% {
    border:2px solid rgb(255, 255, 255);
  }
}
@keyframes colorAndZoomChange {
  0% {
    background: aqua;
    transform: scale(.8);
    color: rgb(0, 98, 255);
  }
  100% {
    background:rgb(208, 255, 0);
    transform: scale(.9);
  }
}
@keyframes colorChange {
  0% {
    background: aqua;
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

.txtContainer {
  border-radius: 15px;
}

.separador {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 5px;
  border-radius: 5px;
  width: 260px;
  background: white;
  animation-name: colorChange;
  animation-duration: 2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

.txt1 {
  margin-top: 20px;
  -webkit-text-stroke: 1px rgb(2, 155, 250);
  color: rgb(2, 155, 250);
  display: flex;
  font-size: 38px;
  font-family: 'Days One', sans-serif;
  justify-content: center;
}

.txt2 {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgb(247, 247, 247);
  display: flex;
  font-size: 38px;
  font-family: 'Days One', sans-serif;
  justify-content: center;

}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.yes {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 30px;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  font-family: 'Days One', sans-serif;
  border: 0;
  color: rgb(6, 1, 83);
  font-size: 35px;
  font-weight: 800;
  transition: transform .4s;
  background: linear-gradient(45deg, rgb(15, 2, 61), rgb(7, 222, 255));

  animation-name: colorAndZoomChange;
  animation-duration: 4s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}

.button:hover {
  transform: scale(1.08);
}

.iconsContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.png {
  transition: transform .4s;
  width: 60px;
}

.png:hover {
  transform: scale(1.1);
}